@page "/automl"
@using ChoETL;
@using Microsoft.ML
@using ML.JobPrediction.Core
@using ML.JobPrediction.Core.Models
@using System.IO;
@inject JobPredictionTrainingService trainingService

<h1>Predict job description category</h1>

@if (training)
{
    <p>Training for @trainingTime seconds... (May take longer based on CPU. Please wait)</p>
}
else
{
    <h2>Train model</h2>
    <EditForm Model="@trainingTime">
        <div>
            <label>Train for seconds:</label>
            <input type="number" min="0" @bind-value="@trainingTime" style="min-width: 300px;" />
            <button class="btn btn-primary" @onclick="Train">Train</button>
        </div>
    </EditForm>

    @if (isTrained)
    {
        <h2 style="margin-top: 20px;">Predict category</h2>
        <EditForm Model="@transaction">
            <div>
                <label>Job description:</label>
                <input type="text" @bind-value="@transaction.Description" style="min-width: 300px;" />
                <button class="btn btn-primary" @onclick="Predict">Predict</button>
            </div>

            @if (prediction != null)
            {
                <div style="margin-top: 20px;">
                    <h4>Predictions</h4>

                    <p><b>@description</b> - @prediction.Category</p>
                    <table class="table table-bordered">
                        @for (int i = 0; i < prediction.Score.Length; ++i)
                        {
                            var predictionScore = prediction.Score[i];
                            <tr>
                                <th style="background-color: rgba(0, 255, 0, @predictionScore);">@categories[i]</th>
                                <td style="background-color: rgba(0, 255, 0, @predictionScore); padding-left: 20px;">@(Math.Round(predictionScore, 2) * 100) %</td>
                            </tr>
                        }
                    </table>
                </div>
            }

            
        </EditForm>
    }
}

@functions  {
    bool training = false;
    bool isTrained = false;
    uint trainingTime = 5;
    string description = "";
    JobPredictionModel prediction = null;
    List<string> categories = null;
    Job transaction = new Job
    {
        Description = "",
    };

    // Create new label service independant from the DI label service.
    JobPredictionLabelService labelService = new JobPredictionLabelService(new MLContext());


    async Task Train()
    {
        training = true;


        string path = Path.GetFullPath(@"..\job_skills.json");
        var data = Newtonsoft.Json.JsonConvert.DeserializeObject<List<Job>>(System.IO.File.ReadAllText(path));
        var model = await Task.Run(() =>
        {
            //string path = System.IO.Path.Combine(AppContext.BaseDirectory, "Data/training.json");
            return trainingService.AutoTrain(data, trainingTime);
        });

        string modelPath = Path.GetFullPath(@"..\model.zip");
        try
        {

        trainingService.SaveModel(modelPath, model);
        }
        catch (Exception ex)
        {
            
            throw;
        }
        labelService.SetModel(model);

        training = false;
        isTrained = true;
    }

    void Predict()
    {
        description = transaction.Description;
        prediction = labelService.Predict(transaction);

        if (categories == null)
        {
            categories = labelService.GetCategories();
        }
    }
}